<launch>
	<!-- DEPARTMENT Movement -->
	<group ns="movement">
		<node name= "main" 			pkg="robot_movement" 	type="movement_node.py" 		output="screen" launch-prefix="gnome-terminal --command "/>
		<node name= "wheels"	 	pkg="robot_movement" 	type="robot_movement_wheels" 	/>
		<node name= "actuators" 	pkg="robot_movement" 	type="robot_movement_actuators"	/>
		<node name= "robotarm" 		pkg="robot_movement" 	type="robot_movement_robotarm" 	/>
	</group>

	<!-- DEPARTMENT Perception -->
	<group ns="perception">
		<node name= "main" 			pkg="robot_perception" 	type="robot_perception" 		/>
		<node name= "lidar"	 		pkg="robot_perception" 	type="robot_perception_lidar" 	/>
		<node name= "camera" 		pkg="robot_perception" 	type="robot_perception_camera" 	/>
		<node name= "skin" 			pkg="robot_perception" 	type="robot_perception_skin" 	/>
	</group>

	<!-- DEPARTMENT MapManager -->
	<group ns="mapmanager">
		<node name= "mapmanager" 	pkg="robot_mapmanager" 	type="movement_node.py" 		/>
		<node name= "pathfinder" 	pkg="robot_mapmanager" 	type="robot_perception_skin" 	/>
	</group>

	<!-- DEPARTMENT Localization -->
	<group ns="localization">
		<node name= "main" 			pkg="robot_localization" type="robot_localization_main" />
	</group>

	<!-- DEPARTMENT AI -->
	<group ns="ai">
		<node name= "timer" 		pkg="robot_ai" 			type="ai_timer_node.py"			output="screen"/>
		<node name= "main" 			pkg="robot_ai" 			type="ai_node.py" 				output="screen"/>
	</group>
</launch>